
    {% extends "AlgorithmManagerBundle::layout.html.twig" %}
    {% import  "AlgorithmManagerBundle:Macros:navigation.html.twig" as nav %}
    {% import  "AlgorithmManagerBundle:Macros:breadcrumb.html.twig" as breadcrumb %}
    
    {%block nav %} {{ nav.navigation("clients") }}

    {% endblock %}

    {%block breadcrumb %}
        {{ breadcrumb.bread(breadcrumb_data) }}
    {% endblock %}
    
    {% block body %}

    <h1>Créer un client</h1>
    
    <form method="POST" 
          id="form-account-create" 
          action="{{ path('algorithm_wiki_clients_create') }}" 
          {{ form_enctype(form) }}>
    
    <p class="actions">
        
        <a href="{{ path('algorithm_wiki_clients') }}" class="button">Annuler</a>
        <input type="submit" class="button" value="Créer">
        
    </p>
    
    <div class="clear"></div>
    
    <aside class="box">
        
        <ul>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Nom du client :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.name, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Activité :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.activity, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Contact :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.contact, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Mail :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.mail, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content-icon">
                        <div class="data-label">Compte Personnel : </div>
                        <div class="icon-info">
                            <p class="data-explain">
                                Les comptes personnels ne sont accessible qu'à ceux qui les ont créer
                            </p>
                        </div>
                        <div class="clear"></div>
                            
                    </div>
                </div>
                <div class="field">
                    {{ form_widget(form.private) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Informations :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.informations, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            {{ form_rest(form) }}
            
        </ul>
                
        
        
    </aside>
            
            </form>
    
    {% endblock %}
    