
    {% extends "AlgorithmManagerBundle::layout.html.twig" %}
    {% import  "AlgorithmManagerBundle:Macros:navigation.html.twig" as nav %}
    {% import  "AlgorithmManagerBundle:Macros:breadcrumb.html.twig" as breadcrumb %}
    
    {%block nav %} {{ nav.navigation("serveurs") }}

    {% endblock %}

    {%block breadcrumb %}
        {{ breadcrumb.bread(breadcrumb_data) }}
    {% endblock %}
    
    {% block body %}

    <h1>Créer un serveur</h1>
    
    <form method="POST" 
          id="form-account-create" 
          action="{{ path('algorithm_wiki_servers_create') }}" 
          {{ form_enctype(form) }}>
    
    <p class="actions">
        
        <a href="{{ path('algorithm_wiki_servers') }}" class="button">Annuler</a>
        <input type="submit" class="button" value="Créer">
        
    </p>
    
    <div class="clear"></div>
    
    <aside class="box">
        
        <ul>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Nom :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.name, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Utilisateur :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.user, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Mot de passe :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.password, {'attr' : {'class':'field-content input-style password'}}) }}
                    <div class="button" id="password-generate-button">Générer</div>
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">IP :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.ip, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Hébergeur :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.hebergeur, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Processeur :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.processeur, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Mémoire :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.memoire, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            <li class="row">
            
                <div class="label">
                    <div class="label-content">Bande Passante :</div>
                </div>
                <div class="field">
                    {{ form_widget(form.bandePassante, {'attr' : {'class':'field-content input-style'}}) }}
                </div>
                <div class="clear"></div>
                
            </li>
            
            {{ form_rest(form) }}
            
        </ul>
                
        
        
    </aside>
            
            </form>
    
    {% endblock %}
    